/* Main stylesheet aggregator */
@import url("./variables.css");
@import url("./base/reset.css");
@import url("./base/typography.css");

@import url("./layout/container.css");
@import url("./layout/header.css");
@import url("./layout/grid.css");

@import url("./components/navigation.css");
@import url("./components/cards.css");
@import url("./components/carousel.css");
@import url("./components/selectors.css");
@import url("./components/charts.css");
@import url("./components/flipcard.css");

@import url("./pages/home.css");
@import url("./pages/occupancy.css");
@import url("./pages/revenue.css");
@import url("./pages/behavior.css");
@import url("./pages/data.css");

@import url("./utilities/responsive.css");
@import url("./utilities/animations.css");