.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;
  background: var(--panel); /* De donkerblauwe kleur */
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid var(--border);
  z-index: 1000;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-muted); /* Grijsachtig wit */
  cursor: pointer;
  transition: all 0.2s ease;
}

.nav-item i {
  font-size: 20px;
  margin-bottom: 4px;
}

.nav-item span {
  font-size: 11px;
}

/* Styling voor de actieve knop in de navigatiebalk */
.nav-item.active {
  color: #007bff; /* Of jouw specifieke accentkleur */
}

.nav-item.active i {
  transform: translateY(-3px); /* Geeft een 'geklikt' effect */
  transition: transform 0.2s;
}

/*-- ======================================================================
     ======================================================================

       ###     ###      #########      #####       #####    ############
       ###     ###    #############    ######     ######    ############
       ###########    ###       ###    ### ###   ### ###    ###
       ###########    ###       ###    ###  ### ###  ###    ##########
       ###     ###    ###       ###    ###   #####   ###    ##########
       ###     ###    ###       ###    ###    ###    ###    ###
       ###     ###    #############    ###    ###    ###    ############   ####
       ###     ###      #########      ###    ###    ###    ############   ####

     ======================================================================
     ====================================================================== */

/*-- ======================================================================
